/* Command Buttons */
QMainWindow QWidget[objectName^="cmd_tab_widget"] QPushButton {
    background-color: #53A6D8;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}

QMainWindow QWidget[objectName^="cmd_tab_widget"] QPushButton:hover {
    background-color: #6BB5E3;
}

QMainWindow QWidget[objectName^="cmd_tab_widget"] QPushButton:pressed {
    background-color: #4A95C7;
} 